img {
    width: 35%;
}

h2 {
    margin-top: -5%;
    margin-left: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    margin-top: 5%;
    margin-left: -15%;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    align-items: center;
    margin-left: 20%;
}