.img {
    width: 40%;
}

h2 {
    margin-top: -5%;
    margin-left: 17%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    margin-top: 5%;
    margin-left: -13%;
    font-family: 'Courier New', Courier, monospace;
}


.lista {
    display: flex;
    align-items: center;
    margin-left: 19%;
}

  
@media(max-width:600px){
    .img {
        width: 50%;
    }
    
    h2 {
        margin-top: 9%;
        float: right;
        margin-right: 10%;
        font-size: 18px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    p {
        font-family: 'Courier New', Courier, monospace;
        font-size: 13px;
        float: right;
        margin-right: 6%;
        margin-top: -18%;
    }
    
    .lista {
        display: block;
        align-items: center;
        margin-left: 2%;
    }
}