.cad{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    
}
.email{
    margin-top: 6rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.senha{
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.local{
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.residencia{
    margin-top: 1rem;
    
}

.preco {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.meio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formField_error{
    font-family: 'Times New Roman';
    color:brown;
}
.botaoCad{
    margin-top: 1rem;
    transition: transform .2s;
}
.botaoCad:hover {
    transform: scale(1.05);
}

