  .imgs{
      display: flex;
      width: auto;
      height: 17rem;
      padding: 1rem;
      margin: 1rem;
      background-color: snow;
      justify-content: center;
  }
  .i{
      border: 1px solid black;
      margin: 1rem;
  }
  .container{
      justify-content: left;
      margin: 1%;
  }
  .container .fp{
      display: flex;
      width: auto;
      height: 10rem;
  }
  .header {
    width: auto;
    height: 8rem;
    display: flex;
    margin-bottom: 2rem;
    border: 1px solid black;
    border-radius: 10px;
  }
  .header img {
    margin: 0.5rem;
    width: 7rem;
    height: 7rem;
    border-radius: 10px;
  }
  .header .chat {
    margin-left: auto;
  }
  .menu {
    width: 100%;
    height: 50px;
  }
  .menu ul {
    list-style: none;
  }
  .menu ul {
    margin-top: -0.1rem;
    margin-left: -2rem;
    display: flex;
  }

  .menu ul ul {
    position: absolute;
    display: none;
    background-color: black;
    color: white;
    width: 5rem;
    height: 7rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 10px;
  }
  .menu ul li:hover + ul {
    display: block;
  }

  .menu ul ul li {
    text-align: left;
    margin-top: 1rem;
    margin-left: -1.5rem;
  }
  @media(max-width:600px){
    .imgs{
        display: flex;
        width: auto;
        height: 7rem;
        padding: 1rem;
        margin: 1rem;
        background-color: snow;
        justify-content: center;
    }
    .i{
        border: 1px solid black;
        margin: 1rem;
    }
    .container{
        justify-content: left;
        margin: 1%;
        font-size: smaller;
    }
    .container .fp{
        display: flex;
        width: auto;
        height: 6rem;
    }
    .header {
        width: auto;
        height: 6rem;
        display: flex;
        margin-bottom: 2rem;
        border: 1px solid black;
        border-radius: 10px;
      }
      .header img {
        margin: 0.5rem;
        width: 5rem;
        height: 5rem;
        border-radius: 10px;
      }
      .header .chat {
        margin-left: auto;
      }
      
      .menu {
        width: 100%;
        height: 50px;
      }
      .menu ul {
        list-style: none;
      }
      .menu ul {
        margin-top: -0.1rem;
        margin-left: -2rem;
        display: flex;
      }

      .menu ul ul {
        position: absolute;
        display: none;
        background-color: black;
        color: white;
        width: 5rem;
        height: 7rem;
        margin-left: 6rem;
        margin-top: 0.5rem;
        border-radius: 10px;
      }
      .menu ul li:hover + ul {
        display: block;
      }

      .menu ul ul li {
        text-align: left;
        margin-top: 1rem;
        margin-left: -1.5rem;
      } 
  }