.imgs{
    display: flex;
    width: auto;
    height: 17rem;
    padding: 1rem;
    margin: 1rem;
    background-color: snow;
    justify-content: center;
}
img{
   width: 50%;
  
}
.info{
    justify-content: left;
    margin: 1%;
}
@media(max-width:600px){
    .imgs{
        display: flex;
        width: auto;
        height: 7rem;
        padding: 1rem;
       
        background-color: snow;
        justify-content: center;
    }
    img{
        width: 50%;
    }
    .info{
        justify-content: left;
        margin: 1%;
        font-size: smaller;
    }
}